html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: white !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: white !important;
  }
}



#title .container-fluid {
    padding: 3% 15% 7%;
}
h1{
  font-size: 4.5rem;
  color:#dc9b9e;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat-Bold';
}
p{
  color:#8f8f8f;
  padding-top: 0rem;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;

}
.main-para{
  padding-bottom: 1.5rem;
  font-size: 1.5rem;
}
.navbar{
    padding:0 0  4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;

}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
}
#title {
    
    color:white;
    text-align: left;
}

/* article */
#article {
  
  padding:100px;
  background-color: #fff;
}
.img-illus{
  height: 100%;
  padding: 1.5rem;
}

#footer{
  padding: 7% 15%;
}
.social-icon{
  margin: 20px 10px;
}
